code/common/node_modules
code/common/build
code/frontend/node_modules
code/frontend/dist
code/backend/.pytest_cache
code/backend/.venv
code/backend/data/*
code/backend/decision_backend.egg-info
code/backend/dist
code/server/data/*
deployment/staging/data